/*styling for the product image */
.product-image {
    height: 100px;
    width: 110px;
    border-radius: 3px;
}

/*styling for the counter image button */
.counter-image{
    height: 50px;
    width: 40px;
}

/*styling for the avatar image */
.avatar-image {
    height: 30px;
    width: 30px
}
