<div class="container py-5">
  <div class="row mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="text-center font-weight-bold">Popular Products</h1>
      <hr class="mt-0" />
      <div class="row">
        <div *ngFor="let item of productList; let i = index">
            <!-- list group item-->
              <div
                class="media align-items-lg-center flex-column flex-lg-row p-3"
              >
                <img
                  class="product-image"
                  src="../../assets/{{ item.productImageUrl }}"
                  alt="{{ item.title }}"
                  width="200"
                />
                <div class="media-body order-2 ml-4">
                  <h5 class="mt-0 mb-0 font-weight-bold">
                    <a class="btn vote" (click)="increment(item.id)">
                      <img
                        class="counter-image"
                        src="../../assets/images/ui/arrow.png"
                      /> </a
                    >{{ item.votes }}
                  </h5>
                  <h5 class="font-weight-bold mb-0">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                  </h5>
                  <h6>
                    {{ item.description }}
                  </h6>
                  <h6 class="text-muted mb-0">
                    Submitted by:
                    <img
                      class="avatar-image rounded-circle"
                      src="../../assets/{{ item.submitterAvatarUrl }}"
                      alt="Submitter"
                    />
                  </h6>
                </div>
              </div>
              <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>
